@font-face {
  font-family: "iconfont"; /* Project id 3808131 */
  src: url('iconfont.woff2?t=1670321184099') format('woff2'),
       url('iconfont.woff?t=1670321184099') format('woff'),
       url('iconfont.ttf?t=1670321184099') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-caidan:before {
  content: "\e60c";
}

.icon-yingxiongxiangqing:before {
  content: "\e60a";
}

.icon-shipin:before {
  content: "\e63b";
}

.icon-xinwen:before {
  content: "\e622";
}

.icon-saishi:before {
  content: "\e648";
}

.icon-sucaiguanli:before {
  content: "\e607";
}

.icon-cs-dw-xs-1:before {
  content: "\e62c";
}

.icon-cs-dw-xx-1:before {
  content: "\e62d";
}

.icon-cs-dw-xy-1:before {
  content: "\e62e";
}

.icon-cs-dw-xz-1:before {
  content: "\e62f";
}

.icon-ditu:before {
  content: "\e600";
}

.icon-gouwu:before {
  content: "\e680";
}

.icon-iconfontyundonghuwai:before {
  content: "\e647";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-iconfonticonc3:before {
  content: "\e61b";
}

.icon-guanlidanwei:before {
  content: "\e632";
}

.icon-cengmianfangxiang:before {
  content: "\e624";
}

.icon-gufengwujianzhongguofenggudaiqiwuliqishiqisanzuding_huaban_huaban:before {
  content: "\e62b";
}

.icon-fangxiang:before {
  content: "\e61f";
}

.icon-a-wenjianshuben:before {
  content: "\e621";
}

.icon-fangxiang_yaokong:before {
  content: "\e62a";
}

